<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div>
      <label for="name">Username</label>
      <input type="text" id="name" required [(ngModel)]="user.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine">
        Username is required.
      </div>
    </div>
  
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine">
        Email is required.
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
      <div [hidden]="password.valid || password.pristine">
        Password is required.
      </div>
    </div>
  
    <button type="submit" [disabled]="!userForm.form.valid">Submit</button>
  </form>
  
