<table mat-table [dataSource]="texts" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let text">{{ text.name }}</td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let text">{{ text.author }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let text">{{ text.description }}</td>
  </ng-container>

  <!-- Read Date Column -->
  <ng-container matColumnDef="readDate">
    <th mat-header-cell *matHeaderCellDef>Read Date</th>
    <td mat-cell *matCellDef="let text">{{ text.readDate | date }}</td>
  </ng-container>

  <!-- Stars Column -->
  <ng-container matColumnDef="stars">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let text">{{ text.stars }}</td>
  </ng-container>

  <!-- Review Column -->
  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef>Review</th>
    <td mat-cell *matCellDef="let text">{{ text.review }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let text">
      <button mat-icon-button color="primary" (click)="editText(text)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteText(text)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noTexts>
  <p>No tenes ningun texto!</p>
</ng-template>