<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FridaReads ༘♡ ⋆｡˚ ❀✩‧₊˚</span>
  <span class="toolbar-spacer"></span>
  <button mat-button *ngIf="isLoggedIn" routerLink="/myTexts">Mis textos</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/addTexts">Nueva lectura</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Iniciar sesión</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/signup">Registrarme</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()">Salir</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/myTexts" (click)="sidenav.close()">Mis textos</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/addTexts" (click)="sidenav.close()">Nueva lectura</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login" (click)="sidenav.close()">Iniciar sesión</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/signup" (click)="sidenav.close()">Registrame</a>
      <a mat-list-item *ngIf="isLoggedIn" (click)="logout(); sidenav.close()">Salir</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>