:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 64px);
  }
  
  .content-container {
    padding: 20px;
  }
  
  @media (max-width: 599px) {
    mat-sidenav-container {
      height: calc(100vh - 56px);
    }
  }